<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="website">
<% if (page.description) { %>
<meta name="description" content="<%= page.description %>">
<meta property="og:description" content="<%= page.description %>">
<% } else if (page.excerpt) { %>
<meta name="description" content="<%= page.excerpt %>">
<meta property="og:description" content="<%= page.excerpt %>">
<% } else { %>
<meta name="description" content="<%= config.description %>">
<meta property="og:description" content="<%= config.description %>">
<% } %>
<% if (page.keyword) { %>
<meta name="keyword" content="<%= page.keyword %>">
<% } else { %>
<meta name="keyword"  content="<%= config.keyword %>">
<% } %>
<link rel="shortcut icon" href="<%= url_for('img') %>/favicon.ico">
<%- css('css/tailwind.css') %>
<%- css('css/typo.css') %>
<%- css('css/theme.css') %>
<script type="text/javascript" src="<%= url_for('js') %>/theme.js?v=<%= theme.version %>"></script>
<title>
    <% if (page.title && config.SEOTitle) { %>
        <%= page.title + ' - ' + config.SEOTitle %>
    <% } else if (config.SEOTitle) { %>
        <%= config.SEOTitle %>
    <% } else if (page.title) { %>
        <%= page.title + ' - ' + config.title %>
    <% } else { %>
        <%= config.title %>
    <% } %>
</title>    