<% if (page.prev || page.next) { %>
<section class="pagination w-full pb-10 flex flex-row text-sm">
    <div class="flex-1">
        <% if (page.prev){ %>
            <a href="<%- config.root %><%- page.prev_link %>">&larr; <%= __('page.prev') %></a>
        <% } %>
    </div>
    <div class="flex-1 text-right">
        <% if (page.next){ %>
            <a href="<%- config.root %><%- page.next_link %>"><%= __('page.next') %> &rarr;</a>
        <% } %>
    </div>
</section>
<% } %>