---
layout: layout
---

<section class="max-w-3xl mx-auto py-10">
    <div class="post-preview-container space-y-4">
        <% page.posts.each(function(post){ %>
            <div class="post-preview">
                <div class="md:flex md:flex-row">
                    <div class="hidden md:block md:basis-1/4">
                        <div class="text-sm text-gray-500">
                            <time datetime="<%= post.date %>"><%= post.date.format(config.date_format) %></time>
                        </div>
                    </div>
                    <div class="md:basis-3/4">
                        <div class="text-gray-400">
                            <a href="<%- url_for(post.path) %>">
                                <h3>
                                    <%- (post.title || "Untitled").replace(/[<>&"]/g, function (c) {
                                        return {'<': '&lt;', '>': '&gt;', '&': '&amp;', '"': '&quot;'}[c];
                                    }) %>
                                </h3>
                            </a>

                            <div class="text-xs mt-2">
                                <div class="inline-block md:hidden">
                                    <div class="text-sm text-gray-500">
                                        <time datetime="<%= post.date %>"><%= post.date.format(config.date_format) %></time>
                                    </div>
                                </div>

                                <p class="hidden md:inline-block">
                                    <% if (post.tags.length){ %>
                                        <span>/</span>
                                        <% post.tags.forEach(function(tag, i){ %>
                                            <a class="text-gray-500" href="<%= config.root %>tags/#<%= tag.name %>"
                                               title="<%= tag.name %>"><%= tag.name %></a>
                                            <% if (i < post.tags.length - 1) { %>
                                            <span>/</span>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</section>

<%- partial('_partial/pagination', null, {cache: false}) %>