<!DOCTYPE html>
<html lang=<%= config.language === 'zh' ? 'zh-CN' : config.language %> class="bg-gray-100">
<%- partial('_partial/head') %>

<body>

<div class="index-container pt-8 pb-6 md:px-0 px-4">
    <div class="main-content-wrapper max-w-3xl m-auto bg-white pt-8 pb-6 px-10">
        <%- partial('_partial/header') %>

        <% if(!is_current('/404')){%>
        <% } %>

        <%- body %>
        <%- partial('_partial/footer', null, {cache: false}) %>
    </div>
</div>

</body>
</html>