---
layout: layout
---

<section class="max-w-3xl mx-auto py-10 typo">
    <div class="post-container">
        <h1 class="post-title">
            <%- page.title.replace(/[<>&"]/g,function(c){
                return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
            }) %>
        </h1>

        <div class="post-meta text-xs text-gray-500">
            <span class="mr-5"><%= __('post.postTime') %>：<span><%- page.date.format(config.date_format) +" "+ page.date.format(config.time_format)%></span></span>
            <% if (page.tags.length){ %>
            <span><%= __('post.tags') %>：/
                <% page.tags.forEach(function(tag){ %>
                    <a class="tag text-gray-500 no-underline" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                    <span>/</span>
                <% }) %>
                <% } %>
            </span>
        </div>

        <div class="post-content pt-10 <% if(config.post_style && !config.post_style.indent) {%>no-indent<% } %>">
            <%- page.content %>
            <% if(config.donate){%>
                <%- partial('_partial/donate', null, {cache: false}) %>
            <% } %>
        </div>
    </div>
</section>