---
layout: layout
---

<article class="max-w-4xl mx-auto py-10 typo">
    <h1 style="margin-top: 0;">
        <%- page.title.replace(/[<>&"]/g, function (c) {
            return {'<': '&lt;', '>': '&gt;', '&': '&amp;', '"': '&quot;'}[c];
        }) %>
    </h1>

    <div>
        <div class="flex">
                <span>
                    <time datetime="<%= page.date %>"><%- page.date.format(config.date_format) %></time>
                </span>

            <%- partial('_partial/post/busuanzi_analytics') %>

            <% if(page.external) { %>
                <span class="px-3 text-gray-300">|</span>
                <%- link_to(page.external, __('post.external'), {external: true}) %>
            <% } %>
        </div>

        <%- partial('_partial/post/tags') %>
    </div>

    <section class="pt-10 <% if(config.post_style && !config.post_style.indent) { %>no-indent<% } %>">
        <%- page.content %>
    </section>
</article>