---
layout: layout
---

<article class="max-w-3xl mx-auto py-10 typo">
    <div class="post-container">
        <h1 class="post-title" style="margin-top: 0;">
            <%- page.title.replace(/[<>&"]/g,function(c){
                return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
            }) %>
        </h1>

        <div class="post-meta">
            <span>
                <time datetime="<%= page.date %>"><%- page.date.format(config.date_format) %>
                </time>
            </span>

            <% if (page.tags.length){ %>
            <div class="mt-2">
                <span><%= __('post.tags') %>：</span>
                <% page.tags.forEach(function(tag, i){ %>
                    <a class="tag text-gray-500 no-underline" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                    <% if (i < page.tags.length - 1) { %>
                    <span>,</span>
                    <% } %>
                <% }) %>
            </div>
            <% } %>
        </div>

        <div class="post-content pt-10 <% if(config.post_style && !config.post_style.indent) {%>no-indent<% } %>">
            <div class="">
                <%- partial('_partial/toc', {item: page, index: false}) %>
            </div>

            <%- page.content %>
        </div>
    </div>
</article>