---
layout: layout
---

<section class="max-w-4xl mx-auto py-10">
    <div class="tag-container">
        <div class="flex flex-wrap space-x-3">
            <% site.tags.map(function(tag){  %>
                <div class="flex-initial">
                    <a href="#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                </div>
            <% }) %>
        </div>

        <div class="tag-list">
            <% site.tags.map(function(tag){  %>
                <div class="one-tag-list mt-10">
                    <div class="">
                        <span class="" id="<%= tag.name %>">
                            <span class="text-gray-500"><%= tag.name %></span>
                        </span>
                    </div>

                    <div class="">
                        <ul class="pl-10 list-disc">
                            <% tag.posts.map(function(post){  %>
                                <li class="py-1">
                                    <a href="<%- config.root %><%- post.path %>">
                                        <h2 class="">
                                            <%- (post.title || "Untitled").replace(/[<>&"]/g,function(c){
                                                return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
                                            }) %>
                                        </h2>
                                        <% if (post.subtitle && post.subtitle.length) { %>
                                            <h3 class="text-sm text-gray-500">
                                                <%- post.subtitle %>
                                            </h3>
                                        <% } %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>